@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica Now Display;
}
html,
body {
  height: 100%;
  width: 100%;
}

.cursor {
  position: fixed;
  height: 30px;
  width: 30px;
  background-color: transparent;
  border: 1px solid rgb(62, 62, 62);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999999;
}

nav a {
  position: relative;
  transition: all ease 0.25s;
}

nav a::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: black;
  bottom: 0;
  right: 0;
  transition: all ease 0.25s;
}

nav a:hover {
  opacity: 0.5;
}

nav a:hover::before {
  width: 10%;
}

.hero-text {
  height: calc(100vh - 56px);
}

.btn {
  position: relative;
  transition: all ease 0.25s;
}

.btn::before {
  content: "";
  position: absolute;
  height: 2.6px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.836);
  bottom: -2px;
  right: 0;
  transition: all ease 0.25s;
}

.btn:hover::before {
  width: 10%;
}

.icon {
  transition: all ease 0.25s;
}

.btn:hover .icon {
  transform: rotate(45deg);
}

.overlay2 {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.637);
  z-index: 2;
}

.page3 .btn2 {
  position: relative;
}

.page3 .btn2::before {
  content: "";
  position: absolute;
  height: 2.5px;
  width: 100%;
  background-color: white;
  right: 0;
  bottom: -1px;
  transition: all ease 0.25s;
}

.page3 .btn2:hover::before {
  width: 10%;
}

.page3 .icon2 {
  transition: transform 0.3s;
  z-index: 3;
}
.page3 .btn2:hover .icon2 {
  transform: rotate(45deg);
}

.page6 .btn3::before{
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 2px;
  width: 100%;
  background-color: black;
  transition: all ease .25s;
}

.page6 .btn3:hover::before{
  width: 10%;
}

.page6 .btn3 i{
  transition: all ease .25s;
}

.page6 .btn3:hover i{
  transform: rotate(45deg);
}

.page7 h1{
  position: relative;
}

.page7 h1::before{
  content: '';
  position: absolute;
  bottom: -10px;
  right: 0;
  height: 5px;
  width: 100%;
  background-color: black;
  transition: all ease .25s;
}

.page7 .arrow{
  transition: all ease .25s;
}

.page7 h1:hover::before{
  width: 3%;
}

.page7 h1:hover .arrow{
  transform: rotate(45deg);
}

.contactText{
  transition: all ease 1s;
}

.contactText:hover::before{
  background-color: white;
}

.contactText:hover{
  color: white;
}

.scaledown{
  transition: all ease .25s;
}

.page7 h1:hover .page7 .scaledown{
  transform: scale(.5);
}